<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.edzleft.dao.procurement.account.PmAccountMapper" >
  <resultMap id="BaseResultMap" type="cn.com.edzleft.entity.Account" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="create_ip" property="createIp" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="DATE" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="user_eamil" property="userEamil" jdbcType="VARCHAR" />
    <result column="account_type" property="accountType" jdbcType="INTEGER" />
    <result column="account_state" property="accountState" jdbcType="INTEGER" />
    <result column="certificate_state" property="certificateState" jdbcType="INTEGER" />
    <result column="certificate_type" property="certificateType" jdbcType="INTEGER" />
    <result column="invite_account" property="inviteAccount" jdbcType="VARCHAR" />
    <result column="information_id" property="informationId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, user_pwd, user_phone, create_time, create_ip, login_time, login_ip, 
    user_eamil, account_type, account_state, certificate_state, certificate_type, invite_account,information_id
  </sql>
  <select id="accountSelect" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gyl_account
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gyl_account
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

<!--根据账号id查询账号信息-->
  <select id="selectAccountById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    user_id,user_name,user_pwd,account_type,user_phone
    from gyl_account
    where user_id = #{userId}
  </select>
  <insert id="insertSelective" parameterType="cn.com.edzleft.entity.Account" >
    insert into gyl_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPwd != null" >
        user_pwd,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createIp != null" >
        create_ip,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="loginIp != null" >
        login_ip,
      </if>
      <if test="userEamil != null" >
        user_eamil,
      </if>
      <if test="accountType != null" >
        account_type,
      </if>
      <if test="accountState != null" >
        account_state,
      </if>
      <if test="certificateState != null" >
        certificate_state,
      </if>
      <if test="certificateType != null" >
        certificate_type,
      </if>
      <if test="inviteAccount != null" >
        invite_account,
      </if>
      <if test="informationId != null" >
        information_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createIp != null" >
        #{createIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null" >
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="userEamil != null" >
        #{userEamil,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=INTEGER},
      </if>
      <if test="accountState != null" >
        #{accountState,jdbcType=INTEGER},
      </if>
      <if test="certificateState != null" >
        #{certificateState,jdbcType=INTEGER},
      </if>
      <if test="certificateType != null" >
        #{certificateType,jdbcType=INTEGER},
      </if>
      <if test="inviteAccount != null" >
        #{inviteAccount,jdbcType=VARCHAR},
      </if>
      <if test="informationId != null" >
        #{informationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.edzleft.entity.Account" >
    update gyl_account
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createIp != null" >
        create_ip = #{createIp,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null" >
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="userEamil != null" >
        user_eamil = #{userEamil,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        account_type = #{accountType,jdbcType=INTEGER},
      </if>
      <if test="accountState != null" >
        account_state = #{accountState,jdbcType=INTEGER},
      </if>
      <if test="certificateState != null" >
        certificate_state = #{certificateState,jdbcType=INTEGER},
      </if>
      <if test="certificateType != null" >
        certificate_type = #{certificateType,jdbcType=INTEGER},
      </if>
      <if test="inviteAccount != null" >
        invite_account = #{inviteAccount,jdbcType=VARCHAR},
      </if>
      <if test="informationId != null" >
        information_id = #{inviteAccount,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

</mapper>