<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.edzleft.dao.procurement.receivingaddress.PmReceivingAddressMapper" >
  <resultMap id="BaseResultMap" type="cn.com.edzleft.entity.ReceivingAddress" >
    <id column="r_address_id" property="rAddressId" jdbcType="INTEGER" />
    <result column="r_address_area" property="rAddressArea" jdbcType="VARCHAR" />
    <result column="r_address_address" property="rAddressAddress" jdbcType="VARCHAR" />
    <result column="r_address_zipcode" property="rAddressZipcode" jdbcType="VARCHAR" />
    <result column="r_address_person" property="rAddressPerson" jdbcType="VARCHAR" />
    <result column="r_address_phone" property="rAddressPhone" jdbcType="VARCHAR" />
    <result column="r_address_default" property="rAddressDefault" jdbcType="INTEGER" />
    <result column="unionID" property="unionID" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    r_address_id, r_address_area, r_address_address, r_address_zipcode, r_address_person, 
    r_address_phone, r_address_default,unionID
  </sql>
  <select id="queryReceivingAddress" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gyl_receiving_address
    where r_address_id = #{rAddressId,jdbcType=INTEGER}
  </select>
  
   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gyl_receiving_address
    where unionID = #{unionID,jdbcType=INTEGER}
  </select>
  
   <!-- 查询默认地址address -->
  <select id="insetOrder" parameterType="Integer" resultType="String">
    select t.r_address_address from gyl_receiving_address t where t.r_address_default=0 and t.unionID=#{unionID}
  </select>
  <!-- 查询默认地址area -->
  <select id="insetOrder2" parameterType="Integer" resultType="String">
    select t.r_address_area from gyl_receiving_address t where t.r_address_default=0 and t.unionID=#{unionID}
  </select>
  <!-- 查询联系人 -->
  <select id="insetOrder3" parameterType="Integer" resultType="String">
    select t.r_address_person from gyl_receiving_address t where t.r_address_default=0 and t.unionID=#{unionID}
  </select>
  <!-- 查询联系人手机号 -->
  <select id="insetOrder4" parameterType="Integer" resultType="String">
    select t.r_address_phone from gyl_receiving_address t where t.r_address_default=0 and t.unionID=#{unionID}
  </select>
  <!-- 查询收货ID -->
  <select id="insetOrder5" parameterType="Integer" resultType="Integer">
    select t.r_address_id from gyl_receiving_address t where t.r_address_default=0 and t.unionID=#{unionID}
  </select>
  
  <insert id="insert" parameterType="cn.com.edzleft.entity.ReceivingAddress" >
    insert into gyl_receiving_address ( r_address_area, r_address_address, 
      r_address_zipcode, r_address_person, r_address_phone, 
      r_address_default,unionID)
    values ( #{rAddressArea,jdbcType=VARCHAR}, #{rAddressAddress,jdbcType=VARCHAR}, 
      #{rAddressZipcode,jdbcType=VARCHAR}, #{rAddressPerson,jdbcType=VARCHAR}, #{rAddressPhone,jdbcType=VARCHAR}, 
      #{rAddressDefault,jdbcType=VARCHAR},#{unionID,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.edzleft.entity.ReceivingAddress" >
    insert into gyl_receiving_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rAddressId != null" >
        r_address_id,
      </if>
      <if test="rAddressArea != null" >
        r_address_area,
      </if>
      <if test="rAddressAddress != null" >
        r_address_address,
      </if>
      <if test="rAddressZipcode != null" >
        r_address_zipcode,
      </if>
      <if test="rAddressPerson != null" >
        r_address_person,
      </if>
      <if test="rAddressPhone != null" >
        r_address_phone,
      </if>
      <if test="rAddressDefault != null" >
        r_address_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rAddressId != null" >
        #{rAddressId,jdbcType=INTEGER},
      </if>
      <if test="rAddressArea != null" >
        #{rAddressArea,jdbcType=VARCHAR},
      </if>
      <if test="rAddressAddress != null" >
        #{rAddressAddress,jdbcType=VARCHAR},
      </if>
      <if test="rAddressZipcode != null" >
        #{rAddressZipcode,jdbcType=VARCHAR},
      </if>
      <if test="rAddressPerson != null" >
        #{rAddressPerson,jdbcType=VARCHAR},
      </if>
      <if test="rAddressPhone != null" >
        #{rAddressPhone,jdbcType=VARCHAR},
      </if>
      <if test="rAddressDefault != null" >
        #{rAddressDefault,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updAddress" parameterType="cn.com.edzleft.entity.ReceivingAddress" >
    update gyl_receiving_address
    <set >
      <if test="rAddressArea != null" >
        r_address_area = #{rAddressArea,jdbcType=VARCHAR},
      </if>
      <if test="rAddressAddress != null" >
        r_address_address = #{rAddressAddress,jdbcType=VARCHAR},
      </if>
      <if test="rAddressZipcode != null" >
        r_address_zipcode = #{rAddressZipcode,jdbcType=VARCHAR},
      </if>
      <if test="rAddressPerson != null" >
        r_address_person = #{rAddressPerson,jdbcType=VARCHAR},
      </if>
      <if test="rAddressPhone != null" >
        r_address_phone = #{rAddressPhone,jdbcType=VARCHAR},
      </if>
      <if test="rAddressDefault != null" >
        r_address_default = #{rAddressDefault,jdbcType=VARCHAR},
      </if>
    </set>
    where r_address_id = #{rAddressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.edzleft.entity.ReceivingAddress" >
    update gyl_receiving_address
    set r_address_area = #{rAddressArea,jdbcType=VARCHAR},
      r_address_address = #{rAddressAddress,jdbcType=VARCHAR},
      r_address_zipcode = #{rAddressZipcode,jdbcType=VARCHAR},
      r_address_person = #{rAddressPerson,jdbcType=VARCHAR},
      r_address_phone = #{rAddressPhone,jdbcType=VARCHAR},
      r_address_default = #{rAddressDefault,jdbcType=VARCHAR}
    where r_address_id = #{rAddressId,jdbcType=INTEGER}
  </update>
</mapper>