<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.edzleft.dao.trade.tripartite.TripartiteMapper" >
  <resultMap id="BaseResultMap" type="cn.com.edzleft.entity.Tripartite" >
    <id column="tripartite_id" property="tripartiteId" jdbcType="INTEGER" />
    <result column="tripartite_deposit_bank" property="tripartiteDepositBank" jdbcType="VARCHAR" />
    <result column="tripartite_credit_holder_trade_id" property="tripartiteCreditHolderTradeId" jdbcType="INTEGER" />
    <result column="tripartite_credit_holder_purchaser_id" property="tripartiteCreditHolderPurchaserId" jdbcType="INTEGER" />
    <result column="tripartite_credit_holder_capital_id" property="tripartiteCreditHolderCapitalId" jdbcType="INTEGER" />
    <result column="tripartite_account_number" property="tripartiteAccountNumber" jdbcType="VARCHAR" />
    <result column="tripartite_account_opentime" property="tripartiteAccountOpentime" jdbcType="TIMESTAMP" />
    <result column="tripartite_account_openpeople" property="tripartiteAccountOpenpeople" jdbcType="VARCHAR" />
    <result column="tripartite_balance" property="tripartiteBalance" jdbcType="INTEGER" />
    <result column="tripartite_available_balance" property="tripartiteAvailableBalance" jdbcType="INTEGER" />
    <result column="tripartite_amount_create_time" property="tripartiteAmountCreateTime" jdbcType="TIMESTAMP" />
    <result column="pmEntName" property="pmEntName" jdbcType="VARCHAR" />
    <result column="trEntName" property="trEntName" jdbcType="VARCHAR" />
    <result column="caEntName" property="caEntName" jdbcType="VARCHAR" />
    <result column="tripartite_amount_create_people" property="tripartiteAmountCreatePeople" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tripartite_id, tripartite_deposit_bank, tripartite_credit_holder_trade, tripartite_credit_holder_purchaser, 
    tripartite_credit_holder_capital, tripartite_account_number, tripartite_account_opentime, 
    tripartite_account_openpeople, tripartite_balance, tripartite_available_balance, 
    tripartite_amount_create_time, tripartite_amount_create_people
  </sql>
  <!--条件查询-->
  <sql id="where_sql">
    <trim prefix="where" prefixOverrides="and">
      <if test="whereMap != null &amp;&amp; whereMap.userId != null and whereMap.userId != ''">
        AND i.tripartite_credit_holder_trade_id  LIKE '%${whereMap.userId}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.caEntName != null and whereMap.caEntName != ''">
        AND c2.ent_name  LIKE '%${whereMap.caEntName}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.pmEntName != null and whereMap.pmEntName != ''">
        AND c.ent_name  LIKE '%${whereMap.pmEntName}%'
      </if>
    </trim>
  </sql>

  <!--查询总条数-->
  <select id="getTripartiteAllCount"  resultType="Integer" parameterType="cn.com.edzleft.util.page.PageUtil">
     select count(*) from gyl_tripartite i 
	inner join gyl_account a on i.tripartite_credit_holder_purchaser_id = a.user_id
	inner join gyl_account a2 on i.tripartite_credit_holder_capital_id = a2.user_id
	inner join gyl_information c on a.information_id = c.id
	inner join gyl_information c2 on a2.information_id = c2.id
	<include refid="where_sql"/>
  </select>

  <!--分页查询-->
  <select id="selectAllTripartiteByPage"  resultMap="BaseResultMap" parameterType="cn.com.edzleft.util.page.PageUtil">
   select c.ent_name as pmEntname,c2.ent_name as caEntName,i.tripartite_account_number,i.tripartite_account_openpeople,i.tripartite_amount_create_people,i.tripartite_account_opentime,i.tripartite_amount_create_people,i.tripartite_amount_create_time from gyl_tripartite i
    inner join gyl_account a on i.tripartite_credit_holder_purchaser_id = a.user_id
    inner join gyl_account a2 on i.tripartite_credit_holder_capital_id = a2.user_id
    inner join gyl_information c on a.information_id = c.id
    inner join gyl_information c2 on a2.information_id = c2.id
    <include refid="where_sql"/>
    <![CDATA[	limit #{start},#{pageSize}]]>
  </select>
</mapper>