<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.edzleft.dao.captial.signing.SigningMapper" >
  <resultMap id="BaseResultMap" type="cn.com.edzleft.entity.Contract" >
    <id column="contract_id" property="contractId" jdbcType="INTEGER" />
    <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
    <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
    <result column="contract_buyer" property="contractBuyer" jdbcType="VARCHAR" />
    <result column="contract_trader" property="contractTrader" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="signing_address" property="signingAddress" jdbcType="VARCHAR" />
    <result column="signing_time" property="signingTime" jdbcType="TIMESTAMP" />
    <result column="trade_signatories" property="tradeSignatories" jdbcType="VARCHAR" />
    <result column="buyer_signatory" property="buyerSignatory" jdbcType="VARCHAR" />
    <result column="assist_contract_id" property="assistContractId" jdbcType="INTEGER" />
    <result column="order_contract_id" property="orderContractId" jdbcType="INTEGER" />
    <result column="contract_status" property="contractStatus" jdbcType="INTEGER" />
    <result column="contract_letter_person" property="contractLetterPerson" jdbcType="VARCHAR" />
    <result column="contract_credit" property="contractCredit" jdbcType="DOUBLE" />
    <result column="contract_letter" property="contractLetter" jdbcType="DOUBLE" />
    <result column="contract_create_time" property="contractCreateTime" jdbcType="TIMESTAMP" />
    <result column="contract_founder" property="contractFounder" jdbcType="VARCHAR" />
    <result column="Contract_electronics_id" property="contractElectronicsId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    contract_id, contract_number, contract_name, contract_buyer, contract_trader, creat_time, 
    end_time, Signing_address, Signing_time, Trade_signatories, Buyer_signatory, assist_contract_id, 
    order_contract_id, contract_status, contract_letter_person, contract_credit, contract_letter, 
    contract_create_time, contract_founder, "Contract electronics_id"
  </sql>
  <!--条件查询-->
  <sql id="where_sql">
    <trim prefix="where" prefixOverrides="and">
      <if test="whereMap != null &amp;&amp; whereMap.contractStatus != null and whereMap.contractStatus != ''">
        AND contract_status  LIKE '%${whereMap.contractStatus}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.creatTime != null and whereMap.creatTime != ''">
        AND creat_time &gt;= '${whereMap.creatTime}'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.endTime != null and whereMap.endTime != ''">
        AND end_Time &lt;= '${whereMap.endTime}'
      </if>
    </trim>
  </sql>

  <!--查询总条数-->
  <select id="getOrderEntityCountsByConditions"  resultType="Integer" parameterType="cn.com.edzleft.util.page.PageUtil">
    select count(*) from gyl_contract <include refid="where_sql"/>
  </select>

  <!--分页查询-->
  <select id="getOrderEntityListByConditions"  resultMap="BaseResultMap" parameterType="cn.com.edzleft.util.page.PageUtil">
    select
    <include refid="Base_Column_List" />
    from gyl_contract
    <include refid="where_sql"/>
    ORDER BY creat_time  DESC
    <![CDATA[	limit #{start},#{pageSize}]]>
  </select>

</mapper>