<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.edzleft.dao.procurement.oder.PmOrderMapper" >
  <resultMap id="BaseResultMap" type="cn.com.edzleft.entity.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_creat_time" property="orderCreatTime" jdbcType="TIMESTAMP" />
    <result column="order_creator_id" property="orderCreatorId" jdbcType="INTEGER" />
    <result column="order_creator_trade_id" property="orderCreatorTradeId" jdbcType="INTEGER" />
    <result column="order_confirmation_time" property="orderConfirmationTime" jdbcType="TIMESTAMP" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="freight_number_id" property="freightNumberId" jdbcType="INTEGER" />
    <result column="freight_unit" property="freightUnit" jdbcType="VARCHAR" />
    <result column="logistics_name" property="logisticsName" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="principal_order_id" property="principalOrderId" jdbcType="INTEGER" />
    <result column="credit_get_id" property="creditGetId" jdbcType="INTEGER" />
    <result column="credit_use_id" property="creditUseId" jdbcType="INTEGER" />
    <result column="credit_grantor_id" property="creditGrantorId" jdbcType="INTEGER" />
    <result column="order_amount" property="orderAmount" jdbcType="DOUBLE" />
    <result column="amount_payable" property="amountPayable" jdbcType="DOUBLE" />
    <result column="amount_actually_paid" property="amountActuallyPaid" jdbcType="INTEGER" />
    <result column="payment_account_id" property="paymentAccountId" jdbcType="INTEGER" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="invoice_id" property="invoiceId" jdbcType="INTEGER" />
    <result column="goods" property="goods" jdbcType="VARCHAR" />
    <result column="applicationletter" property="applicationletter" jdbcType="VARCHAR" />
    <result column="receiving_address_id" property="receivingAddressId" jdbcType="INTEGER" />
    <result column="invoice_num" property="invoiceNum" jdbcType="VARCHAR" />
    <result column="letter_status" property="letterStatus" jdbcType="INTEGER" />
    <result column="order_creator_userId" property="orderCreatorUserid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
     order_id, order_number, order_creat_time, order_creator_id, order_creator_trade_id, 
    order_confirmation_time, order_status, freight_number_id, freight_unit, logistics_name, 
    contact_phone, principal_order_id, credit_get_id, credit_use_id, credit_grantor_id, 
    order_amount, amount_payable, amount_actually_paid, payment_account_id, payment_time, 
    invoice_id, goods, applicationletter, receiving_address_id, invoice_num, letter_status, 
    order_creator_userId
  </sql>


  <!--条件查询-->
  <sql id="where_sql">
    <trim prefix="where" prefixOverrides="and">
    <!-- 一个月内 -->
    <if test="whereMap != null &amp;&amp; whereMap.principalOrderId != null and whereMap.principalOrderId != ''">
        AND principal_order_id  LIKE '%${whereMap.principalOrderId}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.aa != null &amp;&amp; whereMap.aa == 0 " >
        AND DATE_FORMAT(o.order_creat_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
      </if>
    <!-- 三个月内 -->
      <if test="whereMap != null &amp;&amp; whereMap.aa != null &amp;&amp; whereMap.aa == 1 " >
       AND QUARTER(o.order_creat_time)=QUARTER(now())
      </if>
    <!-- 六个月内 -->
      <if test="whereMap != null &amp;&amp; whereMap.aa != null &amp;&amp; whereMap.aa == 2 " >
        AND  order_creat_time between date_sub(now(),interval 6 month) and now()
      </if>
    <!-- 一年内 -->
      <if test="whereMap != null &amp;&amp; whereMap.aa != null &amp;&amp; whereMap.aa == 3 " >
      	AND  YEAR(o.order_creat_time)=YEAR(NOW())
      	<!-- select * from `ht_invoice_information` where YEAR(create_date)=YEAR(NOW()); -->
      </if>
      
      <if test="whereMap != null &amp;&amp; whereMap.orderStatus != null and whereMap.orderStatus != ''">
        AND order_status  LIKE '%${whereMap.orderStatus}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.fName != null and whereMap.fName != ''">
        AND f.freight_name  LIKE '%${whereMap.fName}%'
      </if>
      <!-- 订单签约方 -->
      <if test="whereMap != null &amp;&amp; whereMap.entname != null and whereMap.entname != ''">
        AND i2.ent_name  LIKE '%${whereMap.entname}%'
      </if>
      <!-- 根据合同模糊 -->
      <if test="whereMap != null &amp;&amp; whereMap.cname != null and whereMap.cname != ''">
        AND c.contract_name  LIKE '%${whereMap.cname}%'
      </if>
      <if test="whereMap != null">
        AND o.order_creator_id  = #{whereMap.userId}
      </if>
      <!-- 根据本时间查询 -->
      <if test="whereMap != null &amp;&amp; whereMap.orderCreatTime != null and whereMap.orderCreatTime != ''">
      	AND o.order_creat_time &gt;= '${whereMap.orderCreatTime}'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.orderConfirmationTime != null and whereMap.orderConfirmationTime != ''">
        AND o.order_creat_time &lt;= '${whereMap.orderConfirmationTime}'
      </if>
    </trim>
  </sql>

  <!-- 接口用信查询 -->
  <select id="selectOrderLetter" resultType="java.util.Map">
    SELECT
    o.order_number as orderNumber,
    c.contract_number as contractNumber,
    s.credit_number as creditNumber,
    s.credit_amount as applyAmount,
    o.order_amount as applyAmountr,
    o.applicationletter as orderAmount
    FROM gyl_order o
    INNER JOIN gyl_contract c ON o.principal_order_id = c.contract_id
    INNER JOIN gyl_credit s ON o.credit_get_id = s.id
    WHERE o.letter_status = 0
  </select>
  <!-- 查询默认地址address -->
  <select id="insetOrder" parameterType="Integer" resultType="String">
    select t.r_address_address from gyl_receiving_address t where t.r_address_default=0 and t.unionID=#{unionID}
  </select>
  <!-- 查询默认地址area -->
  <select id="insetOrder2" parameterType="Integer" resultType="String">
    select t.r_address_area from gyl_receiving_address t where t.r_address_default=0 and t.unionID=#{unionID}
  </select>
  <!-- 查询联系人 -->
  <select id="insetOrder3" parameterType="Integer" resultType="String">
    select t.r_address_person from gyl_receiving_address t where t.r_address_default=0 and t.unionID=#{unionID}
  </select>
  <!-- 查询联系人手机号 -->
  <select id="insetOrder4" parameterType="Integer" resultType="String">
    select t.r_address_phone from gyl_receiving_address t where t.r_address_default=0 and t.unionID=#{unionID}
  </select>
  <!-- 查询收货ID -->
  <select id="insetOrder5" parameterType="Integer" resultType="Integer">
    select t.r_address_id from gyl_receiving_address t where t.r_address_default=0 and t.unionID=#{unionID}
  </select>

  <!--查询总条数-->
  <select id="getCrownEntityCounts"  resultType="Integer" parameterType="cn.com.edzleft.util.page.PageUtil">
    select count(*)
	from gyl_order o
	left JOIN(SELECT  COUNT(1)AS amount,invoice_no,id FROM  gyl_invoice v left JOIN gyl_order o
            ON v.order_id =o.order_id GROUP BY o.order_id
            ) v  ON o.invoice_id=v.id
	left join gyl_information i on o.order_creator_id = i.id
	left JOIN gyl_freight f on o.freight_number_id  = f.freight_id
	left JOIN gyl_contract c on o.principal_order_id = c.contract_id
	left JOIN gyl_information i2 on o.order_creator_trade_id = i2.id
	left JOIN gyl_account a on o.payment_account_id  = a.user_id
    <include refid="where_sql"/>
    ORDER BY o.order_creat_time  DESC
  </select>

  <!--分页查询-->
  <select id="getCrownEntityList"  resultMap="BaseResultMap" parameterType="cn.com.edzleft.util.page.PageUtil">
    <!-- select o.order_id,o.order_number, o.order_status,o.order_amount,o.order_creat_time,
	i.ent_name  as entName , f.freight_name as fName ,contract_name as cname,i2.ent_name entname,
	from gyl_order o
	inner join gyl_information i on o.order_creator_id = i.id
	left JOIN gyl_freight f on o.freight_number_id  = f.freight_id
	INNER JOIN gyl_contract c on o.principal_order_id = c.contract_id
	INNER JOIN gyl_information i2 on o.order_creator_trade_id = i2.id -->
	
	select o.order_id, o.order_number as orderNumber, o.order_status as orderStatus,
	o.order_amount as orderAmount,o.order_creat_time,i2.ent_name entname,o.freight_unit,
	i.ent_name  as centName , f.freight_name as fName ,c.contract_name as cName, 
	a.user_name as username,o.applicationletter,o.order_confirmation_time,o.goods,
	r.r_address_area as area,r.r_address_person as person ,r.r_address_phone phone, r.r_address_address,
	f.freight_contact_person as fperson,f.freight_contact_phone as fphone,
	v.amount AS amount,v.invoice_no AS invoiceNo,v.id,c.contract_number as contractnumber,a.user_name as username
	from gyl_order o
 	left JOIN(SELECT  COUNT(1)AS amount,invoice_no,id FROM  gyl_invoice v left JOIN gyl_order o
            ON v.order_id =o.order_id GROUP BY o.order_id
            ) v  ON o.invoice_id=v.id
	left join gyl_information i on o.order_creator_id = i.id
	left JOIN gyl_freight f on o.freight_number_id  = f.freight_id
	left JOIN gyl_contract c on o.principal_order_id = c.contract_id
	left JOIN gyl_information i2 on o.order_creator_trade_id = i2.id
	left JOIN gyl_account a on o.order_creator_userId  = a.user_id
	left JOIN gyl_receiving_address r on o.receiving_address_id  = r.r_address_id 
    <include refid="where_sql"/>
    ORDER BY  o.order_creat_time  DESC
    <![CDATA[	limit #{start},#{pageSize}]]>
  </select>


  <!--根据订单编号orderNumber查询到订单表-->
  <select id="selectOrder" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select o.order_id, o.order_number as orderNumber, o.order_status as orderStatus,
	o.order_amount as orderAmount,o.order_creat_time,i2.ent_name entname,o.freight_unit,
	i.ent_name  as centName , f.freight_name as fName ,c.contract_name as cName, 
	a.user_name as username,o.applicationletter,o.order_confirmation_time,o.goods,
	r.r_address_area as area,r.r_address_person as person ,r.r_address_phone phone, r.r_address_address address,
	f.freight_contact_person as fperson,f.freight_contact_phone as fphone,
	v.amount AS amount,v.invoice_no AS invoiceNo,v.id,c.contract_number as contractnumber
	from gyl_order o
 	left JOIN(SELECT  COUNT(1)AS amount,invoice_no,id FROM  gyl_invoice v left JOIN gyl_order o
            ON v.order_id =o.order_id GROUP BY o.order_id
            ) v  ON o.invoice_id=v.id

	
	left join gyl_information i on o.order_creator_id = i.id
	left JOIN gyl_freight f on o.freight_number_id  = f.freight_id
	left JOIN gyl_contract c on o.principal_order_id = c.contract_id
	left JOIN gyl_information i2 on o.order_creator_trade_id = i2.id
	left JOIN gyl_account a on o.payment_account_id  = a.user_id
	left JOIN gyl_receiving_address r on o.receiving_address_id  = r.r_address_id 
    where order_number = #{orderNumber,jdbcType=VARCHAR}
 
 
  </select>

	<!-- 订单编辑根据用户ID回写 -->
  <select id="ddbj" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   select o.order_id, o.order_number as orderNumber, o.order_status as orderStatus,
	o.order_amount as orderAmount,o.order_creat_time,i2.ent_name entname,o.freight_unit,
	i.ent_name  as centName , f.freight_name as fName ,c.contract_name as cName, 
	a.user_name as username,o.applicationletter,o.order_confirmation_time,o.goods,
	r.r_address_area as area,r.r_address_person as person ,r.r_address_phone phone, r.r_address_address address,
	f.freight_contact_person as fperson,f.freight_contact_phone as fphone,
	v.amount AS amount,v.invoice_no AS invoiceNo,v.id,c.contract_number as contractnumber
	from gyl_order o
 	left JOIN(SELECT  COUNT(1)AS amount,invoice_no,id FROM  gyl_invoice v left JOIN gyl_order o
            ON v.order_id =o.order_id GROUP BY o.order_id
            ) v  ON o.invoice_id=v.id
	left join gyl_information i on o.order_creator_id = i.id
	left JOIN gyl_freight f on o.freight_number_id  = f.freight_id
	left JOIN gyl_contract c on o.principal_order_id = c.contract_id
	left JOIN gyl_information i2 on o.order_creator_trade_id = i2.id
	left JOIN gyl_account a on o.payment_account_id  = a.user_id
	left JOIN gyl_receiving_address r on o.receiving_address_id  = r.r_address_id 
    where order_id = #{order_id,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gyl_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>


  <insert id="insertSelective" parameterType="cn.com.edzleft.entity.Order" >
    insert into gyl_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="orderCreatTime != null" >
        order_creat_time,
      </if>
      <if test="orderCreatorId != null" >
        order_creator_id,
      </if>
      <if test="orderCreatorTradeId != null" >
        order_creator_trade_id,
      </if>
      <if test="orderConfirmationTime != null" >
        order_confirmation_time,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="freightNumberId != null" >
        freight_number_id,
      </if>
      <if test="freightUnit != null" >
        freight_unit,
      </if>
      <if test="logisticsName != null" >
        logistics_name,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="principalOrderId != null" >
        principal_order_id,
      </if>
      <if test="creditGetId != null" >
        credit_get_id,
      </if>
      <if test="creditUseId != null" >
        credit_use_id,
      </if>
      <if test="creditGrantorId != null" >
        credit_grantor_id,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="amountPayable != null" >
        amount_payable,
      </if>
      <if test="amountActuallyPaid != null" >
        amount_actually_paid,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="invoiceId != null" >
        invoice_id,
      </if>
      <if test="goods != null" >
        goods,
      </if>
      <if test="applicationletter != null" >
        applicationletter,
      </if>
      <if test="receivingAddressId != null" >
        receiving_address_id,
      </if>
      <if test="invoiceNum != null" >
        invoice_num,
      </if>
      <if test="letterStatus != null" >
        letter_status,
      </if>
      <if test="orderCreatorUserId != null" >
        order_creator_userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatTime != null" >
        #{orderCreatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCreatorId != null" >
        #{orderCreatorId,jdbcType=INTEGER},
      </if>
      <if test="orderCreatorTradeId != null" >
        #{orderCreatorTradeId,jdbcType=INTEGER},
      </if>
      <if test="orderConfirmationTime != null" >
        #{orderConfirmationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="freightNumberId != null" >
        #{freightNumberId,jdbcType=INTEGER},
      </if>
      <if test="freightUnit != null" >
        #{freightUnit,jdbcType=VARCHAR},
      </if>
      <if test="logisticsName != null" >
        #{logisticsName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="principalOrderId != null" >
        #{principalOrderId,jdbcType=INTEGER},
      </if>
      <if test="creditGetId != null" >
        #{creditGetId,jdbcType=INTEGER},
      </if>
      <if test="creditUseId != null" >
        #{creditUseId,jdbcType=INTEGER},
      </if>
      <if test="creditGrantorId != null" >
        #{creditGrantorId,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DOUBLE},
      </if>
      <if test="amountPayable != null" >
        #{amountPayable,jdbcType=DOUBLE},
      </if>
      <if test="amountActuallyPaid != null" >
        #{amountActuallyPaid,jdbcType=INTEGER},
      </if>
      <if test="paymentAccountId != null" >
        #{paymentAccountId,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceId != null" >
        #{invoiceId,jdbcType=INTEGER},
      </if>
      <if test="goods != null" >
        #{goods,jdbcType=VARCHAR},
      </if>
      <if test="applicationletter != null" >
        #{applicationletter,jdbcType=VARCHAR},
      </if>
      <if test="receivingAddressId != null" >
        #{receivingAddressId,jdbcType=INTEGER},
      </if>
      <if test="invoiceNum != null" >
        #{invoiceNum,jdbcType=VARCHAR},
      </if>
      <if test="letterStatus != null" >
        #{letterStatus,jdbcType=INTEGER},
      </if>
      <if test="orderCreatorUserId != null" >
        #{orderCreatorUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updOrderStatus" parameterType="cn.com.edzleft.entity.Order" >
   update gyl_order
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatTime != null" >
        order_creat_time = #{orderCreatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCreatorId != null" >
        order_creator_id = #{orderCreatorId,jdbcType=INTEGER},
      </if>
      <if test="orderCreatorTradeId != null" >
        order_creator_trade_id = #{orderCreatorTradeId,jdbcType=INTEGER},
      </if>
      <if test="orderConfirmationTime != null" >
        order_confirmation_time = #{orderConfirmationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="freightNumberId != null" >
        freight_number_id = #{freightNumberId,jdbcType=INTEGER},
      </if>
      <if test="freightUnit != null" >
        freight_unit = #{freightUnit,jdbcType=VARCHAR},
      </if>
      <if test="logisticsName != null" >
        logistics_name = #{logisticsName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="principalOrderId != null" >
        principal_order_id = #{principalOrderId,jdbcType=INTEGER},
      </if>
      <if test="creditGetId != null" >
        credit_get_id = #{creditGetId,jdbcType=INTEGER},
      </if>
      <if test="creditUseId != null" >
        credit_use_id = #{creditUseId,jdbcType=INTEGER},
      </if>
      <if test="creditGrantorId != null" >
        credit_grantor_id = #{creditGrantorId,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=DOUBLE},
      </if>
      <if test="amountPayable != null" >
        amount_payable = #{amountPayable,jdbcType=DOUBLE},
      </if>
      <if test="amountActuallyPaid != null" >
        amount_actually_paid = #{amountActuallyPaid,jdbcType=INTEGER},
      </if>
      <if test="paymentAccountId != null" >
        payment_account_id = #{paymentAccountId,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceId != null" >
        invoice_id = #{invoiceId,jdbcType=INTEGER},
      </if>
      <if test="goods != null" >
        goods = #{goods,jdbcType=VARCHAR},
      </if>
      <if test="applicationletter != null" >
        applicationletter = #{applicationletter,jdbcType=VARCHAR},
      </if>
      <if test="receivingAddressId != null" >
        receiving_address_id = #{receivingAddressId,jdbcType=INTEGER},
      </if>
      <if test="invoiceNum != null" >
        invoice_num = #{invoiceNum,jdbcType=VARCHAR},
      </if>
      <if test="letterStatus != null" >
        letter_status = #{letterStatus,jdbcType=INTEGER},
      </if>
      <if test="orderCreatorUserid != null" >
        order_creator_userId = #{orderCreatorUserid,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  
  <!-- 编辑 -->
  <update id="updataOreder" parameterType="cn.com.edzleft.entity.Order" >
   update gyl_order
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatTime != null" >
        order_creat_time = #{orderCreatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCreatorId != null" >
        order_creator_id = #{orderCreatorId,jdbcType=INTEGER},
      </if>
      <if test="orderCreatorTradeId != null" >
        order_creator_trade_id = #{orderCreatorTradeId,jdbcType=INTEGER},
      </if>
      <if test="orderConfirmationTime != null" >
        order_confirmation_time = #{orderConfirmationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="freightNumberId != null" >
        freight_number_id = #{freightNumberId,jdbcType=INTEGER},
      </if>
      <if test="freightUnit != null" >
        freight_unit = #{freightUnit,jdbcType=VARCHAR},
      </if>
      <if test="logisticsName != null" >
        logistics_name = #{logisticsName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="principalOrderId != null" >
        principal_order_id = #{principalOrderId,jdbcType=INTEGER},
      </if>
      <if test="creditGetId != null" >
        credit_get_id = #{creditGetId,jdbcType=INTEGER},
      </if>
      <if test="creditUseId != null" >
        credit_use_id = #{creditUseId,jdbcType=INTEGER},
      </if>
      <if test="creditGrantorId != null" >
        credit_grantor_id = #{creditGrantorId,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=DOUBLE},
      </if>
      <if test="amountPayable != null" >
        amount_payable = #{amountPayable,jdbcType=DOUBLE},
      </if>
      <if test="amountActuallyPaid != null" >
        amount_actually_paid = #{amountActuallyPaid,jdbcType=INTEGER},
      </if>
      <if test="paymentAccountId != null" >
        payment_account_id = #{paymentAccountId,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceId != null" >
        invoice_id = #{invoiceId,jdbcType=INTEGER},
      </if>
      <if test="goods != null" >
        goods = #{goods,jdbcType=VARCHAR},
      </if>
      <if test="applicationletter != null" >
        applicationletter = #{applicationletter,jdbcType=VARCHAR},
      </if>
      <if test="receivingAddressId != null" >
        receiving_address_id = #{receivingAddressId,jdbcType=INTEGER},
      </if>
      <if test="invoiceNum != null" >
        invoice_num = #{invoiceNum,jdbcType=VARCHAR},
      </if>
      <if test="letterStatus != null" >
        letter_status = #{letterStatus,jdbcType=INTEGER},
      </if>
      <if test="orderCreatorUserid != null" >
        order_creator_userId = #{orderCreatorUserid,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>

</mapper>