<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.edzleft.dao.trade.invoice.TraInvoiceMapper" >
  <resultMap id="BaseResultMap" type="cn.com.edzleft.entity.InvoiceRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="invoice_number" property="invoiceNumber" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="invoice_file_attachment" property="invoiceFileAttachment" jdbcType="INTEGER" />
    <result column="invoice_no" property="invoiceNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="invoice_user_id" property="invoiceUserId" jdbcType="INTEGER" />
    <result column="drawer" property="drawer" jdbcType="VARCHAR" />
    <result column="check-taker" property="checkTaker" jdbcType="VARCHAR" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="attachment_url" property="attachmentUrl" jdbcType="VARCHAR" />
  </resultMap>
  
  
  
  <!--条件查询-->
  <sql id="where_sql">
    <trim prefix="where" prefixOverrides="and">
    	<if test="whereMap != null &amp;&amp; whereMap.userId != null and whereMap.userId != ''">
        AND i.user_id =#{whereMap.userId}
      	</if>
      <if test="whereMap != null &amp;&amp; whereMap.invoiceNumber != null and whereMap.invoiceNumber != ''">
        AND i.invoice_number  LIKE '%${whereMap.invoiceNumber}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.checkTaker != null and whereMap.checkTaker != ''">
        AND inf2.ent_name LIKE '%${whereMap.checkTaker}%'<!-- LIKE '%${whereMap.drawer}%' -->
      </if>
    </trim>
  </sql>
	
	<!--条件查询总条数-->
  <select id="getInvoiceRecordEntityCountsByConditions"  resultType="Integer" parameterType="cn.com.edzleft.util.page.PageUtil">
    select count(*)
	from  gyl_invoice i 
	left join gyl_information inf on i.user_id = inf.id
	left join gyl_information inf2 on i.invoice_user_id = inf2.id
	left join gyl_order o on i.order_id = o.order_id
	left join gyl_attachment ga on i.invoice_file_attachment = ga.attachment_id
	<include refid="where_sql"/>
  </select>
  
  
  <select id="getInvoiceRecordEntityListByConditions"  resultMap="BaseResultMap" parameterType="cn.com.edzleft.util.page.PageUtil">
    select i.invoice_number,i.id,
	i.invoice_no,
	inf.ent_name as drawer,
	inf2.ent_name as checkTaker,
	o.order_number as orderNumber,
	ga.attachment_url as attachmentUrl,
	i.create_time
	from  gyl_invoice i 
	left join gyl_information inf on i.user_id = inf.id
	left join gyl_information inf2 on i.invoice_user_id = inf2.id
	left join gyl_order o on i.order_id = o.order_id
	left join gyl_attachment ga on i.invoice_file_attachment = ga.attachment_id
    <include refid="where_sql"/> 
    ORDER BY create_time  DESC
    <![CDATA[	limit #{start},#{pageSize}]]>
  </select>
  
 <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
 	 select i.invoice_number,i.id,i.invoice_file_attachment,
	i.invoice_no,
	inf.ent_name as drawer,
	inf2.ent_name as checkTaker,
	o.order_number as orderNumber,
	ga.attachment_url as attachmentUrl,
	i.create_time
	from  gyl_invoice i 
	left join gyl_information inf on i.user_id = inf.id
	left join gyl_information inf2 on i.invoice_user_id = inf2.id
	left join gyl_order o on i.order_id = o.order_id
	left join gyl_attachment ga on i.invoice_file_attachment = ga.attachment_id
    where i.id=#{id}
 </select>
<!-- UPDATE 表名称 SET 列名称 = 新值 WHERE 列名称 = 某值 -->
   <update id="update" parameterType="cn.com.edzleft.entity.InvoiceRecord">
 	update gyl_invoice set invoice_no=#{invoiceNo} where id=#{id} 
   </update>
</mapper>