
		.clearfix:after{
		    content:".";
		    display:block;
		    height:0;
		    clear:both;
		    visibility:hidden;
       }

		.login-top{
			height: 460px;
		    background:rgba(225,0,0,1);
		    background: red;
		}
		.container-logo{
			margin-top: 28px;
		}
		.container-logo img{
			width: 287px;
			height: 38px;
		}
		.form_div{
			width: 600px;
			height: 482px;
			background: #ffffff;
			margin-top: -76px;
		    box-shadow: 1px 1px 14px 0px #C7C7C7;
		    margin-bottom: 36px;  
		    padding-top: 76px;
		}
		.form{
           width: 284px;
		}
		.login-input{
			margin-bottom: 30px;
			position: relative;
			border-color: #979797!important;

		}
		.login-input input{
			height: 60px;
            font-size: 18px;
		}
		.img_dw{
			position: absolute;
			right: 21.5px;
			top: 50%;
			z-index: 999;
			width: 20px;
			height: 20px;
			margin-top: -10px;
		}
		.yzm_con{
			width: 128px!important; 
			height: 60px;
			font-size: 18px;
			float: left;
		}
		.yzm_img{
			width: 128px;
			height: 60px;
			display: table-cell; 
			vertical-align: middle;
			text-align: center; 
			border:1px solid #C7C7C7;
		}
		.yzm_img img{
			width: 111px;
			height: 48px;
		}
		.apply_for{
           font-size:18px;
           margin-top: 14px;
		}
		.apply_for a{
			color: #000000;
			text-decoration: none;
		}
		.copy{
			font-size: 14px;
			margin-bottom: 190px;
		}