<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.edzleft.dao.trade.financial.FinancialMapper" >
  <resultMap id="BaseResultMap" type="cn.com.edzleft.entity.Financial" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="financial_numbers" property="financialNumbers" jdbcType="VARCHAR" />
    <result column="financial_type" property="financialType" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="payer" property="payer" jdbcType="VARCHAR" />
    <result column="belong_order_id" property="belongOrderId" jdbcType="INTEGER" />
    <result column="bill_time" property="billTime" jdbcType="TIMESTAMP" />
    <result column="bank_account_id" property="bankAccountId" jdbcType="INTEGER" />
    <result column="bank_card" property="bankCard" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, financial_numbers, financial_type, amount, payer, belong_order_id,
    bill_time, bank_account_id,bank_card
  </sql>

  <!--条件查询-->
  <sql id="where_sql">
    <trim prefix="where" prefixOverrides="and">
      <if test="whereMap != null &amp;&amp; whereMap.financialType != null and whereMap.financialType != ''">
        AND financial_type  LIKE '%${whereMap.financialType}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.billTime != null and whereMap.billTime != ''">
        AND bill_time &gt;= '%${whereMap.billTime}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.payer != null and whereMap.payer != ''">
        AND payer LIKE '${whereMap.payer}'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.bankAccountId != null and whereMap.bankAccountId != ''">
        AND bank_account_id LIKE '%${whereMap.bankAccountId}%'
      </if>
    </trim>
  </sql>

<!--
  &lt;!&ndash;表连接查询总条数&ndash;&gt;
  <select id="getTripartiteAllCount"  resultType="Integer" parameterType="cn.com.edzleft.util.page.PageUtil">
    select count(*) from gyl_financial t1
    inner join gyl_account a on i.tripartite_credit_holder_purchaser_id = a.user_id
    inner join gyl_account a2 on i.tripartite_credit_holder_capital_id = a2.user_id
    inner join gyl_information c on a.information_id = c.id
    inner join gyl_information c2 on a2.information_id = c2.id
    <include refid="where_sql"/>
  </select>

  &lt;!&ndash;分页查询&ndash;&gt;
  <select id="selectAllTripartiteByPage"  resultMap="BaseResultMap" parameterType="cn.com.edzleft.util.page.PageUtil">
    select c.ent_name as pmEntname,c2.ent_name as caEntName,i.tripartite_account_number,i.tripartite_account_openpeople,i.tripartite_amount_create_people,i.tripartite_account_opentime,i.tripartite_amount_create_people,i.tripartite_amount_create_time from gyl_tripartite i
    inner join gyl_account a on i.tripartite_credit_holder_purchaser_id = a.user_id
    inner join gyl_account a2 on i.tripartite_credit_holder_capital_id = a2.user_id
    inner join gyl_information c on a.information_id = c.id
    inner join gyl_information c2 on a2.information_id = c2.id
    <include refid="where_sql"/>
    <![CDATA[	limit #{start},#{pageSize}]]>
  </select>
  -->


  <!--查询财务总条数-->
  <select id="getAllFinancialCount"  resultType="Integer" parameterType="cn.com.edzleft.util.page.PageUtil">
    select count(*) from gyl_financial <include refid="where_sql"/>
  </select>

  <!--分页查询-->
  <select id="selectAllFinancialByPage"  resultMap="BaseResultMap" parameterType="cn.com.edzleft.util.page.PageUtil">
    select
    <include refid="Base_Column_List" />
    from gyl_financial
    <include refid="where_sql"/>
    ORDER BY bill_time  DESC
    <![CDATA[	limit #{start},#{pageSize}]]>
  </select>

<!--根据id查询财务信息-->
  <select id="selectFinancialById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gyl_financial
    where id = #{id,jdbcType=INTEGER}
  </select>



  <!--根据id删除财务信息-->
  <delete id="deleteFinancial" parameterType="java.lang.Integer" >
    delete from gyl_financial
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <!--添加财务信息-->
  <insert id="insertFinancial" parameterType="cn.com.edzleft.entity.Financial" >
    insert into gyl_financial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="financialNumbers != null" >
        financial_numbers,
      </if>
      <if test="financialType != null" >
        financial_type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="payer != null" >
        payer,
      </if>
      <if test="belongOrderId != null" >
        belong_order_id,
      </if>
      <if test="billTime != null" >
        bill_time,
      </if>
      <if test="bankAccountId != null" >
        bank_account_id,
      </if>
      <if test="bankCard != null" >
        bank_card,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="financialNumbers != null" >
        #{financialNumbers,jdbcType=VARCHAR},
      </if>
      <if test="financialType != null" >
        #{financialType,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="payer != null" >
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="belongOrderId != null" >
        #{belongOrderId,jdbcType=INTEGER},
      </if>
      <if test="billTime != null" >
        #{billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bankAccountId != null" >
        #{bankAccountId,jdbcType=INTEGER},
      </if>
      <if test="bankCard != null" >
        #{bankCard,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!--修改财务信息-->
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.edzleft.entity.Financial" >
    update gyl_financial
    <set >
      <if test="financialNumbers != null" >
        financial_numbers = #{financialNumbers,jdbcType=VARCHAR},
      </if>
      <if test="financialType != null" >
        financial_type = #{financialType,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="payer != null" >
        payer = #{payer,jdbcType=VARCHAR},
      </if>
      <if test="belongOrder != null" >
        belong_order_id = #{belongOrderId,jdbcType=INTEGER},
      </if>
      <if test="billTime != null" >
        bill_time = #{billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bankAccount != null" >
        bank_account_id = #{bankAccountId,jdbcType=INTEGER},
      </if>
      <if test="bankCard != null" >
        bank_card= #{bankCard,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>