<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.edzleft.dao.trade.financial.FinancialMapper" >
  <resultMap id="BaseResultMap" type="cn.com.edzleft.entity.TradeFinancial" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="financial_number" property="financialNumber" jdbcType="VARCHAR" />
    <result column="financial_type" property="financialType" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="payer_id" property="payerId" jdbcType="INTEGER" />
    <result column="belong_order_id" property="belongOrderId" jdbcType="INTEGER" />
    <result column="bill_time" property="billTime" jdbcType="TIMESTAMP" />
    <result column="bank_account_id" property="bankAccountId" jdbcType="INTEGER" />
    <result column="bank_card_id" property="bankCardId" jdbcType="INTEGER" />
    <result column="information_id" property="informationId" jdbcType="INTEGER" />
    <!--别名-->
    <result column="orderNumber" property="orderNumber" jdbcType="VARCHAR" />
    <result column="tripartipeNumber" property="tripartipeNumber" jdbcType="VARCHAR" />
    <result column="bankAccountNumber" property="bankAccountNumber" jdbcType="VARCHAR" />
    <result column="entName" property="entName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, financial_number, financial_type, amount, payer, belong_order_id,
    bill_time, bank_account_id,bank_card_id,information_id
  </sql>

  <!--条件查询-->
  <sql id="where_sql">
    <trim prefix="where" prefixOverrides="and">
      <if test="whereMap != null &amp;&amp; whereMap.financialType != null and whereMap.financialType != ''">
        AND t1.financial_type  LIKE '%${whereMap.financialType}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.billTime != null and whereMap.billTime != ''">
        AND t1.bill_time &gt;= '${whereMap.billTime}'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.billTime != null and whereMap.billTime != ''">
        AND t1.bill_time &lt;= '${whereMap.billTime}'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.entName != null and whereMap.entName != ''">
        AND t5.entName LIKE '%${whereMap.entName}%'
      </if>
    </trim>
  </sql>

  <!--表连接查询总条数-->
  <select id="getFinancialCountLast"  resultType="Integer" parameterType="cn.com.edzleft.util.page.PageUtil">
    select count(*)
    from gyl_trade_financial t1
    inner join gyl_order  t2  on  t1.belong_order_id=t2.order_id
    inner join gyl_tripartite t3 on t1.bank_account_id = t3.tripartite_id
    INNER JOIN gyl_bank_account t4 ON t1.bank_card_id=t4.bank_account_id
    INNER JOIN gyl_information t5 ON t3.tripartite_credit_holder_purchaser_id=t5.id
    <include refid="where_sql"/>
  </select>

  <!--表连接条件查询-->
  <select id="selectFinancialByPageLast"  resultMap="BaseResultMap" parameterType="cn.com.edzleft.util.page.PageUtil">
    select t1.financial_number ,t1.amount,t1.bill_time,t1.financial_type,
    t2.order_number AS orderNumber,
    t3.tripartite_account_number AS tripartipeNumber,
    t4.bank_account_number AS bankAccountNumber,
    t5.ent_name AS entName
    from gyl_trade_financial t1
    inner join gyl_order  t2  on  t1.belong_order_id=t2.order_id
    inner join gyl_tripartite t3 on t1.bank_account_id = t3.tripartite_id
    INNER JOIN gyl_bank_account t4 ON t1.bank_card_id=t4.bank_account_id
    INNER JOIN gyl_information t5 ON t3.tripartite_credit_holder_purchaser_id=t5.id
    <include refid="where_sql"/>
    <![CDATA[	limit #{start},#{pageSize}]]>
  </select>


  <!--查询财务总条数-->
  <select id="getAllFinancialCount"  resultType="Integer" parameterType="cn.com.edzleft.util.page.PageUtil">
    select count(*) from gyl_financial <include refid="where_sql"/>
  </select>

  <!--分页查询-->
  <select id="selectAllFinancialByPage"  resultMap="BaseResultMap" parameterType="cn.com.edzleft.util.page.PageUtil">
    select
    <include refid="Base_Column_List" />
    from gyl_financial
    <include refid="where_sql"/>
    ORDER BY bill_time  DESC
    <![CDATA[	limit #{start},#{pageSize}]]>
  </select>

<!--根据id查询财务信息-->
  <select id="selectFinancialById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gyl_financial
    where id = #{id,jdbcType=INTEGER}
  </select>



  <!--根据id删除财务信息-->
  <delete id="deleteFinancial" parameterType="java.lang.Integer" >
    delete from gyl_financial
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <!--添加财务信息-->
  <insert id="insertFinancial" parameterType="cn.com.edzleft.entity.Financial" >
    insert into gyl_financial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="financialNumber != null" >
        financial_number,
      </if>
      <if test="financialType != null" >
        financial_type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="payer != null" >
        payer,
      </if>
      <if test="belongOrderId != null" >
        belong_order_id,
      </if>
      <if test="billTime != null" >
        bill_time,
      </if>
      <if test="bankAccountId != null" >
        bank_account_id,
      </if>
      <if test="bankCardId != null" >
        bank_card_id,
      </if>
      <if test="informationId != null" >
        information_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="financialNumber != null" >
        #{financialNumber,jdbcType=VARCHAR},
      </if>
      <if test="financialType != null" >
        #{financialType,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="payerId != null" >
        #{payerId,jdbcType=INTEGER},
      </if>
      <if test="belongOrderId != null" >
        #{belongOrderId,jdbcType=INTEGER},
      </if>
      <if test="billTime != null" >
        #{billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bankAccountId != null" >
        #{bankAccountId,jdbcType=INTEGER},
      </if>
      <if test="bankCardId != null" >
        #{bankCardId,jdbcType=INTEGER},
      </if>
      <if test="informationId != null" >
        #{informationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!--修改财务信息-->
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.edzleft.entity.Financial" >
    update gyl_financial
    <set >
      <if test="financialNumber != null" >
        financial_number = #{financialNumber,jdbcType=VARCHAR},
      </if>
      <if test="financialType != null" >
        financial_type = #{financialType,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="payerId != null" >
        payer_id = #{payerId,jdbcType=INTEGER},
      </if>
      <if test="belongOrderId != null" >
        belong_order_id = #{belongOrderId,jdbcType=INTEGER},
      </if>
      <if test="billTime != null" >
        bill_time = #{billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bankAccountId != null" >
        bank_account_id = #{bankAccountId,jdbcType=INTEGER},
      </if>
      <if test="bankCardId != null" >
        bank_card_id= #{bankCardId,jdbcType=INTEGER},
      </if>
      <if test="informationId != null" >
        information_id= #{informationId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>