<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.edzleft.dao.trade.financial.FinancialMapper" >
  <resultMap id="BaseResultMap" type="cn.com.edzleft.entity.Financial" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="financial_numbers" property="financialNumbers" jdbcType="VARCHAR" />
    <result column="financial_type" property="financialType" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="payer" property="payer" jdbcType="VARCHAR" />
    <result column="receiving_side" property="receivingSide" jdbcType="VARCHAR" />
    <result column="belong_order_id" property="belongOrderId" jdbcType="INTEGER" />
    <result column="bill_time" property="billTime" jdbcType="TIMESTAMP" />
    <result column="trade_name" property="tradeName" jdbcType="VARCHAR" />
    <result column="capital_name" property="capitalName" jdbcType="VARCHAR" />
    <result column="bank_acount_type" property="bankAcountType" jdbcType="INTEGER" />
    <result column="bank_account_id" property="bankAccountId" jdbcType="INTEGER" />
    <result column="bank_card" property="bankCard" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, financial_numbers, financial_type, amount, payer, receiving_side, belong_order_id,
    bill_time, bank_acount_type, bank_account_id,bank_card
  </sql>

  <!--条件查询-->
  <sql id="where_sql">
    <trim prefix="where" prefixOverrides="and">
      <if test="whereMap != null &amp;&amp; whereMap.financialType != null and whereMap.financialType != ''">
        AND financial_type  LIKE '%${whereMap.financialType}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.billTime != null and whereMap.billTime != ''">
        AND bill_time &gt;= '${whereMap.billTime}'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.payer != null and whereMap.payer != ''">
        AND payer &lt;= '${whereMap.payer}'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.bankAccountId != null and whereMap.bankAccountId != ''">
        AND bank_account_id &lt;= '${whereMap.bankAccountId}'
      </if>
    </trim>
  </sql>

  <!--查询财务总条数-->
  <select id="getAllFinancialCount"  resultType="Integer" parameterType="cn.com.edzleft.util.page.PageUtil">
    select count(*) from gyl_financial <include refid="where_sql"/>
  </select>

  <!--分页查询-->
  <select id="selectAllFinancialByPage"  resultMap="BaseResultMap" parameterType="cn.com.edzleft.util.page.PageUtil">
    select
    <include refid="Base_Column_List" />
    from gyl_financial
    <include refid="where_sql"/>

        bill_time

    ORDER BY bill_time  DESC
    <![CDATA[	limit #{start},#{pageSize}]]>
  </select>

<!--根据id查询财务信息-->
  <select id="selectFinancialById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gyl_financial
    where id = #{id,jdbcType=INTEGER}
  </select>



  <!--根据id删除财务信息-->
  <delete id="deleteFinancial" parameterType="java.lang.Integer" >
    delete from gyl_financial
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="insert" parameterType="cn.com.edzleft.entity.Financial" >
    insert into gyl_financial (id, financial_numbers, financial_type, 
      amount, payer, receiving_side, 
      belong_order_id, bill_time, trade_name,
      capital_name, bank_acount_type, bank_account_id
      )
    values (#{id,jdbcType=INTEGER}, #{financialNumbers,jdbcType=VARCHAR}, #{financialType,jdbcType=INTEGER}, 
      #{amount,jdbcType=DOUBLE}, #{payer,jdbcType=VARCHAR}, #{receivingSide,jdbcType=VARCHAR}, 
      #{belongOrderId,jdbcType=INTEGER}, #{billTime,jdbcType=TIMESTAMP}, #{tradeName,jdbcType=VARCHAR},
      #{capitalName,jdbcType=VARCHAR}, #{bankAcountType,jdbcType=INTEGER}, #{bankAccountId,jdbcType=INTEGER}
      )
  </insert>

  <!--添加财务信息-->
  <insert id="insertFinancial" parameterType="cn.com.edzleft.entity.Financial" >
    insert into gyl_financial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="financialNumbers != null" >
        financial_numbers,
      </if>
      <if test="financialType != null" >
        financial_type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="payer != null" >
        payer,
      </if>
      <if test="receivingSide != null" >
        receiving_side,
      </if>
      <if test="belongOrderId != null" >
        belong_order_id,
      </if>
      <if test="billTime != null" >
        bill_time,
      </if>
      <if test="tradeName != null" >
        trade_name,
      </if>
      <if test="capitalName != null" >
        capital_name,
      </if>
      <if test="bankAcountType != null" >
        bank_acount_type,
      </if>
      <if test="bankAccountId != null" >
        bank_account_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="financialNumbers != null" >
        #{financialNumbers,jdbcType=VARCHAR},
      </if>
      <if test="financialType != null" >
        #{financialType,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="payer != null" >
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="receivingSide != null" >
        #{receivingSide,jdbcType=VARCHAR},
      </if>
      <if test="belongOrderId != null" >
        #{belongOrderId,jdbcType=INTEGER},
      </if>
      <if test="billTime != null" >
        #{billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeName != null" >
        #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="capitalName != null" >
        #{capitalName,jdbcType=VARCHAR},
      </if>
      <if test="bankAcountType != null" >
        #{bankAcountType,jdbcType=INTEGER},
      </if>
      <if test="bankAccountId != null" >
        #{bankAccountId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!--修改财务信息-->
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.edzleft.entity.Financial" >
    update gyl_financial
    <set >
      <if test="financialNumbers != null" >
        financial_numbers = #{financialNumbers,jdbcType=VARCHAR},
      </if>
      <if test="financialType != null" >
        financial_type = #{financialType,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="payer != null" >
        payer = #{payer,jdbcType=VARCHAR},
      </if>
      <if test="receivingSide != null" >
        receiving_side = #{receivingSide,jdbcType=VARCHAR},
      </if>
      <if test="belongOrder != null" >
        belong_order_id = #{belongOrderId,jdbcType=INTEGER},
      </if>
      <if test="billTime != null" >
        bill_time = #{billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeName != null" >
        trade_name = #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="capitalName != null" >
        capital_name = #{capitalName,jdbcType=VARCHAR},
      </if>
      <if test="bankAcountType != null" >
        bank_acount_type = #{bankAcountType,jdbcType=INTEGER},
      </if>
      <if test="bankAccount != null" >
        bank_account_id = #{bankAccountId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.edzleft.entity.Financial" >
    update gyl_financial
    set financial_numbers = #{financialNumbers,jdbcType=VARCHAR},
      financial_type = #{financialType,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DOUBLE},
      payer = #{payer,jdbcType=VARCHAR},
      receiving_side = #{receivingSide,jdbcType=VARCHAR},
      belong_order = #{belongOrder,jdbcType=VARCHAR},
      bill_time = #{billTime,jdbcType=TIMESTAMP},
      trade_name = #{tradeName,jdbcType=VARCHAR},
      capital_name = #{capitalName,jdbcType=VARCHAR},
      bank_acount_type = #{bankAcountType,jdbcType=INTEGER},
      bank_account = #{bankAccount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>