<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.edzleft.dao.trade.order.OrderMapper" >
  <resultMap id="BaseResultMap" type="cn.com.edzleft.entity.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_creat_time" property="orderCreatTime" jdbcType="TIMESTAMP" />
    <result column="order_creator" property="orderCreator" jdbcType="VARCHAR" />
    <result column="order_creator_trade" property="orderCreatorTrade" jdbcType="VARCHAR" />
    <result column="order_confirmation_time" property="orderConfirmationTime" jdbcType="TIMESTAMP" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="logistics_unit_id" property="logisticsUnitId" jdbcType="INTEGER" />
    <result column="logistics_num" property="logisticsNum" jdbcType="VARCHAR" />
    <result column="receiving_address_id" property="receivingAddressId" jdbcType="INTEGER" />
    <result column="logistics_name" property="logisticsName" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="INTEGER" />
    <result column="principal_order_id" property="principalOrderId" jdbcType="INTEGER" />
    <result column="credit_get_id" property="creditGetId" jdbcType="INTEGER" />
    <result column="credit_use_id" property="creditUseId" jdbcType="INTEGER" />
    <result column="credit_grantor_id" property="creditGrantorId" jdbcType="INTEGER" />
    <result column="order_amount" property="orderAmount" jdbcType="DOUBLE" />
    <result column="amount_payable" property="amountPayable" jdbcType="DOUBLE" />
    <result column="amount_actually_paid" property="amountActuallyPaid" jdbcType="INTEGER" />
    <result column="payment_account_id" property="paymentAccountId" jdbcType="INTEGER" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="invoice" property="invoice" jdbcType="VARCHAR" />
    <result column="freight_unit" property="freightUnit" jdbcType="VARCHAR" />
    <result column="freight_number_id" property="freightNumberId" jdbcType="INTEGER" />
    <result column="invoiceNum" property="invoice_num" jdbcType="VARCHAR" />
    <result column="goods" property="goods" jdbcType="VARCHAR" />
  </resultMap>

  <!--条件查询-->
  <sql id="where_sql">
    <trim prefix="where" prefixOverrides="and">
      <if test="whereMap != null &amp;&amp; whereMap.orderStatus != null and whereMap.orderStatus != ''">
        AND order_status  LIKE '%${whereMap.orderStatus}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.orderConfirmationTime != null and whereMap.orderConfirmationTime != ''">
        AND order_confirmation_time  LIKE '%${whereMap.orderConfirmationTime}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.creditGrantorId != null and whereMap.creditGrantorId != ''">
        AND credit_grantor_id  LIKE '%${whereMap.creditGrantorId}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.principalOrderId != null and whereMap.principalOrderId != ''">
        AND principal_order_id  LIKE '%${whereMap.principalOrderId}%'
      </if>
    </trim>
  </sql>

  <sql id="Base_Column_List" >
    order_id, order_number, order_creat_time, order_creator, order_creator_trade, order_confirmation_time,
    order_status, logistics_unit_id, logistics_num, receiving_address_id,logistics_name, contact_phone,
    principal_order_id, credit_get_id, credit_use_id, credit_grantor_id, order_amount, amount_payable,goods,
    amount_actually_paid, payment_account_id, payment_time, invoice, freight_unit, freight_number_id,invoice_num
  </sql>

  <!--查询总条数-->
  <select id="selectTotalOrderCount"  resultType="Integer" parameterType="cn.com.edzleft.util.page.PageUtil">
    select count(*) from gyl_order <include refid="where_sql"/>
  </select>

  <!--分页查询-->
  <select id="selectOrderByPage"  resultMap="BaseResultMap" parameterType="cn.com.edzleft.util.page.PageUtil">
    select
    <include refid="Base_Column_List" />
    from gyl_order
    <include refid="where_sql"/>
    ORDER BY order_creat_time  DESC
    <![CDATA[	limit #{start},#{pageSize}]]>
  </select>


  <!--根据订单编号orderNumber查询到订单表-->
  <select id="selectOrderByNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gyl_order
    where order_number = #{orderNumber,jdbcType=VARCHAR}
  </select>

  <!--根据订单编号orderNumber查询到订单表-->
  <select id="selectOrderById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from gyl_order
    where order_id = #{order_id,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gyl_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>


  <insert id="insertOrder" parameterType="cn.com.edzleft.entity.Order" >
    insert into gyl_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="orderCreatTime != null" >
        order_creat_time,
      </if>
      <if test="orderCreator != null" >
        order_creator,
      </if>
      <if test="orderCreatorTrade != null" >
        order_creator_trade,
      </if>
      <if test="orderConfirmationTime != null" >
        order_confirmation_time,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="logisticsUnitId != null" >
        logistics_unit_id,
      </if>
      <if test="logisticsNum != null" >
        logistics_num,
      </if>
      <if test="receivingAddressId != null" >
        receiving_address_id,
      </if>
      <if test="logisticsName != null" >
        logistics_name,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="principalOrderId != null" >
        principal_order_id,
      </if>
      <if test="creditGetId != null" >
        credit_get_id,
      </if>
      <if test="creditUseId != null" >
        credit_use_id,
      </if>
      <if test="creditGrantorId != null" >
        credit_grantor_id,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="amountPayable != null" >
        amount_payable,
      </if>
      <if test="amountActuallyPaid != null" >
        amount_actually_paid,
      </if>
      <if test="paymentAccountId != null" >
        payment_account_id,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="invoice != null" >
        invoice,
      </if>
      <if test="freightUnit != null" >
        freight_unit,
      </if>
      <if test="freightNumberId != null" >
        freight_number_id,
      </if>
      <if test="invoiceNum != null" >
        invoice_num,
      </if>
      <if test="goods != null" >
        goods,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatTime != null" >
        #{orderCreatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCreator != null" >
        #{orderCreator,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatorTrade != null" >
        #{orderCreatorTrade,jdbcType=VARCHAR},
      </if>
      <if test="orderConfirmationTime != null" >
        #{orderConfirmationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="logisticsUnitId != null" >
        #{logisticsUnitId,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNum != null" >
        #{logisticsNum,jdbcType=VARCHAR},
      </if>
      <if test="receivingAddressId != null" >
        #{receivingAddressId,jdbcType=VARCHAR},
      </if>
      <if test="logisticsName != null" >
        #{logisticsName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=INTEGER},
      </if>
      <if test="principalOrderId != null" >
        #{principalOrder,jdbcType=INTEGER},
      </if>
      <if test="creditGetId != null" >
        #{creditGetId,jdbcType=INTEGER},
      </if>
      <if test="creditUseId != null" >
        #{creditUseId,jdbcType=INTEGER},
      </if>
      <if test="creditGrantorId != null" >
        #{creditGrantorId,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DOUBLE},
      </if>
      <if test="amountPayable != null" >
        #{amountPayable,jdbcType=DOUBLE},
      </if>
      <if test="amountActuallyPaid != null" >
        #{amountActuallyPaid,jdbcType=INTEGER},
      </if>
      <if test="paymentAccountId != null" >
        #{paymentAccountId,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoice != null" >
        #{invoice,jdbcType=VARCHAR},
      </if>
      <if test="freightUnit != null" >
        #{freightUnit,jdbcType=VARCHAR},
      </if>
      <if test="freightNumberId != null" >
        #{freightNumberId,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNum != null" >
        #{invoiceNum,jdbcType=VARCHAR},
      </if>
      <if test="goods != null" >
        #{goods,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>



  <update id="updateStatus" parameterType="cn.com.edzleft.entity.Order" >
    update gyl_order
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatTime != null" >
        order_creat_time = #{orderCreatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCreator != null" >
        order_creator = #{orderCreator,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatorTrade != null" >
        order_creator_trade = #{orderCreatorTrade,jdbcType=VARCHAR},
      </if>
      <if test="orderConfirmationTime != null" >
        order_confirmation_time = #{orderConfirmationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="logisticsUnitId != null" >
        logistics_unit_id = #{logisticsUnitId,jdbcType=INTEGER},
      </if>
      <if test="logisticsNum != null" >
        logistics_num = #{logisticsNum,jdbcType=VARCHAR},
      </if>
      <if test="receivingAddressId != null" >
        receiving_address_id = #{receivingAddressId,jdbcType=INTEGER},
      </if>
      <if test="logisticsName != null" >
        logistics_name = #{logisticsName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=INTEGER},
      </if>
      <if test="principalOrderId != null" >
        principal_order_id = #{principalOrderId,jdbcType=INTEGER},
      </if>
      <if test="creditGetId != null" >
        credit_get_id = #{creditGetId,jdbcType=INTEGER},
      </if>
      <if test="creditUseId != null" >
        credit_use_id = #{creditUseId,jdbcType=INTEGER},
      </if>
      <if test="creditGrantorId != null" >
        credit_grantor_id = #{creditGrantorId,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=DOUBLE},
      </if>
      <if test="amountPayable != null" >
        amount_payable = #{amountPayable,jdbcType=DOUBLE},
      </if>
      <if test="amountActuallyPaid != null" >
        amount_actually_paid = #{amountActuallyPaid,jdbcType=INTEGER},
      </if>
      <if test="paymentAccountId != null" >
        payment_account_id = #{paymentAccountId,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoice != null" >
        invoice = #{invoice,jdbcType=VARCHAR},
      </if>
      <if test="freightUnit != null" >
        freight_unit = #{freightUnit,jdbcType=VARCHAR},
      </if>
      <if test="freightNumberId != null" >
        freight_number_id = #{freightNumberId,jdbcType=INTEGER},
      </if>
      <if test="invoiceNum != null" >
        invoice_num = #{invoiceNum,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>


</mapper>