<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.edzleft.dao.trade.order.OrderMapper" >
  <resultMap id="BaseResultMap" type="cn.com.edzleft.entity.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="order_creat_time" property="orderCreatTime" jdbcType="TIMESTAMP" />
    <result column="order_creator" property="orderCreator" jdbcType="VARCHAR" />
    <result column="order_creator_trade" property="orderCreatorTrade" jdbcType="VARCHAR" />
    <result column="order_confirmation_time" property="orderConfirmationTime" jdbcType="TIMESTAMP" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="logistics_unit" property="logisticsUnit" jdbcType="VARCHAR" />
    <result column="logistics_num" property="logisticsNum" jdbcType="VARCHAR" />
    <result column="receiving_address" property="receivingAddress" jdbcType="VARCHAR" />
    <result column="ogistics_name" property="ogisticsName" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="INTEGER" />
    <result column="principal_order" property="principalOrder" jdbcType="INTEGER" />
    <result column="credit_get" property="creditGet" jdbcType="INTEGER" />
    <result column="credit_use" property="creditUse" jdbcType="INTEGER" />
    <result column="credit_grantor" property="creditGrantor" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="DOUBLE" />
    <result column="amount_payable" property="amountPayable" jdbcType="DOUBLE" />
    <result column="amount_actually_paid" property="amountActuallyPaid" jdbcType="INTEGER" />
    <result column="payment_account" property="paymentAccount" jdbcType="VARCHAR" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="invoice" property="invoice" jdbcType="VARCHAR" />
    <result column="freight_unit" property="freightUnit" jdbcType="VARCHAR" />
    <result column="freight_number" property="freightNumber" jdbcType="VARCHAR" />
  </resultMap>

  <!--条件查询-->
  <sql id="where_sql">
    <trim prefix="where" prefixOverrides="and">
      <if test="whereMap != null &amp;&amp; whereMap.orderStatus != null and whereMap.orderStatus != ''">
        AND order_status  LIKE '%${whereMap.orderStatus}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.orderConfirmationTime != null and whereMap.orderConfirmationTime != ''">
        AND order_confirmation_time  LIKE '%${whereMap.orderConfirmationTime}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.creditGrantor != null and whereMap.creditGrantor != ''">
        AND credit_grantor  LIKE '%${whereMap.creditGrantor}%'
      </if>
      <if test="whereMap != null &amp;&amp; whereMap.principalOrder != null and whereMap.principalOrder != ''">
        AND principal_order  LIKE '%${whereMap.principalOrder}%'
      </if>
    </trim>
  </sql>

  <sql id="Base_Column_List" >
    order_id, order_number, order_creat_time, order_creator, order_creator_trade, order_confirmation_time,
    order_status, logistics_unit, logistics_num, receiving_address, ogistics_name, contact_phone,
    principal_order, credit_get, credit_use, credit_grantor, order_amount, amount_payable,
    amount_actually_paid, payment_account, payment_time, invoice, freight_unit, freight_number
  </sql>

  <!--查询总条数-->
  <select id="selectTotalOrderCount"  resultType="Integer" parameterType="cn.com.edzleft.util.page.PageUtil">
    select count(*) from gyl_order <include refid="where_sql"/>
  </select>

  <!--分页查询-->
  <select id="selectOrderByPage"  resultMap="BaseResultMap" parameterType="cn.com.edzleft.util.page.PageUtil">
    select
    <include refid="Base_Column_List" />
    from gyl_order
    <include refid="where_sql"/>
    ORDER BY order_creat_time  DESC
    <![CDATA[	limit #{start},#{pageSize}]]>
  </select>


  <select id="selectOrderById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gyl_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gyl_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.edzleft.entity.Order" >
    insert into gyl_order (order_id, order_number, order_creat_time, 
      order_creator, order_creator_trade, order_confirmation_time, 
      order_status, logistics_unit, logistics_num, 
      receiving_address, ogistics_name, contact_phone, 
      principal_order, credit_get, credit_use, 
      credit_grantor, order_amount, amount_payable, 
      amount_actually_paid, payment_account, payment_time, 
      invoice, freight_unit, freight_number
      )
    values (#{orderId,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR}, #{orderCreatTime,jdbcType=TIMESTAMP}, 
      #{orderCreator,jdbcType=VARCHAR}, #{orderCreatorTrade,jdbcType=VARCHAR}, #{orderConfirmationTime,jdbcType=TIMESTAMP}, 
      #{orderStatus,jdbcType=INTEGER}, #{logisticsUnit,jdbcType=VARCHAR}, #{logisticsNum,jdbcType=VARCHAR}, 
      #{receivingAddress,jdbcType=VARCHAR}, #{ogisticsName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=INTEGER}, 
      #{principalOrder,jdbcType=INTEGER}, #{creditGet,jdbcType=INTEGER}, #{creditUse,jdbcType=INTEGER}, 
      #{creditGrantor,jdbcType=VARCHAR}, #{orderAmount,jdbcType=DOUBLE}, #{amountPayable,jdbcType=DOUBLE}, 
      #{amountActuallyPaid,jdbcType=INTEGER}, #{paymentAccount,jdbcType=VARCHAR}, #{paymentTime,jdbcType=TIMESTAMP}, 
      #{invoice,jdbcType=VARCHAR}, #{freightUnit,jdbcType=VARCHAR}, #{freightNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.edzleft.entity.Order" >
    insert into gyl_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="orderCreatTime != null" >
        order_creat_time,
      </if>
      <if test="orderCreator != null" >
        order_creator,
      </if>
      <if test="orderCreatorTrade != null" >
        order_creator_trade,
      </if>
      <if test="orderConfirmationTime != null" >
        order_confirmation_time,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="logisticsUnit != null" >
        logistics_unit,
      </if>
      <if test="logisticsNum != null" >
        logistics_num,
      </if>
      <if test="receivingAddress != null" >
        receiving_address,
      </if>
      <if test="ogisticsName != null" >
        ogistics_name,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="principalOrder != null" >
        principal_order,
      </if>
      <if test="creditGet != null" >
        credit_get,
      </if>
      <if test="creditUse != null" >
        credit_use,
      </if>
      <if test="creditGrantor != null" >
        credit_grantor,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="amountPayable != null" >
        amount_payable,
      </if>
      <if test="amountActuallyPaid != null" >
        amount_actually_paid,
      </if>
      <if test="paymentAccount != null" >
        payment_account,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="invoice != null" >
        invoice,
      </if>
      <if test="freightUnit != null" >
        freight_unit,
      </if>
      <if test="freightNumber != null" >
        freight_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatTime != null" >
        #{orderCreatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCreator != null" >
        #{orderCreator,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatorTrade != null" >
        #{orderCreatorTrade,jdbcType=VARCHAR},
      </if>
      <if test="orderConfirmationTime != null" >
        #{orderConfirmationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="logisticsUnit != null" >
        #{logisticsUnit,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNum != null" >
        #{logisticsNum,jdbcType=VARCHAR},
      </if>
      <if test="receivingAddress != null" >
        #{receivingAddress,jdbcType=VARCHAR},
      </if>
      <if test="ogisticsName != null" >
        #{ogisticsName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=INTEGER},
      </if>
      <if test="principalOrder != null" >
        #{principalOrder,jdbcType=INTEGER},
      </if>
      <if test="creditGet != null" >
        #{creditGet,jdbcType=INTEGER},
      </if>
      <if test="creditUse != null" >
        #{creditUse,jdbcType=INTEGER},
      </if>
      <if test="creditGrantor != null" >
        #{creditGrantor,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DOUBLE},
      </if>
      <if test="amountPayable != null" >
        #{amountPayable,jdbcType=DOUBLE},
      </if>
      <if test="amountActuallyPaid != null" >
        #{amountActuallyPaid,jdbcType=INTEGER},
      </if>
      <if test="paymentAccount != null" >
        #{paymentAccount,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoice != null" >
        #{invoice,jdbcType=VARCHAR},
      </if>
      <if test="freightUnit != null" >
        #{freightUnit,jdbcType=VARCHAR},
      </if>
      <if test="freightNumber != null" >
        #{freightNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateStatus" parameterType="cn.com.edzleft.entity.Order" >
    update gyl_order
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatTime != null" >
        order_creat_time = #{orderCreatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCreator != null" >
        order_creator = #{orderCreator,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatorTrade != null" >
        order_creator_trade = #{orderCreatorTrade,jdbcType=VARCHAR},
      </if>
      <if test="orderConfirmationTime != null" >
        order_confirmation_time = #{orderConfirmationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="logisticsUnit != null" >
        logistics_unit = #{logisticsUnit,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNum != null" >
        logistics_num = #{logisticsNum,jdbcType=VARCHAR},
      </if>
      <if test="receivingAddress != null" >
        receiving_address = #{receivingAddress,jdbcType=VARCHAR},
      </if>
      <if test="ogisticsName != null" >
        ogistics_name = #{ogisticsName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=INTEGER},
      </if>
      <if test="principalOrder != null" >
        principal_order = #{principalOrder,jdbcType=INTEGER},
      </if>
      <if test="creditGet != null" >
        credit_get = #{creditGet,jdbcType=INTEGER},
      </if>
      <if test="creditUse != null" >
        credit_use = #{creditUse,jdbcType=INTEGER},
      </if>
      <if test="creditGrantor != null" >
        credit_grantor = #{creditGrantor,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null" >
        order_amount = #{orderAmount,jdbcType=DOUBLE},
      </if>
      <if test="amountPayable != null" >
        amount_payable = #{amountPayable,jdbcType=DOUBLE},
      </if>
      <if test="amountActuallyPaid != null" >
        amount_actually_paid = #{amountActuallyPaid,jdbcType=INTEGER},
      </if>
      <if test="paymentAccount != null" >
        payment_account = #{paymentAccount,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoice != null" >
        invoice = #{invoice,jdbcType=VARCHAR},
      </if>
      <if test="freightUnit != null" >
        freight_unit = #{freightUnit,jdbcType=VARCHAR},
      </if>
      <if test="freightNumber != null" >
        freight_number = #{freightNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.edzleft.entity.Order" >
    update gyl_order
    set order_number = #{orderNumber,jdbcType=VARCHAR},
      order_creat_time = #{orderCreatTime,jdbcType=TIMESTAMP},
      order_creator = #{orderCreator,jdbcType=VARCHAR},
      order_creator_trade = #{orderCreatorTrade,jdbcType=VARCHAR},
      order_confirmation_time = #{orderConfirmationTime,jdbcType=TIMESTAMP},
      order_status = #{orderStatus,jdbcType=INTEGER},
      logistics_unit = #{logisticsUnit,jdbcType=VARCHAR},
      logistics_num = #{logisticsNum,jdbcType=VARCHAR},
      receiving_address = #{receivingAddress,jdbcType=VARCHAR},
      ogistics_name = #{ogisticsName,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=INTEGER},
      principal_order = #{principalOrder,jdbcType=INTEGER},
      credit_get = #{creditGet,jdbcType=INTEGER},
      credit_use = #{creditUse,jdbcType=INTEGER},
      credit_grantor = #{creditGrantor,jdbcType=VARCHAR},
      order_amount = #{orderAmount,jdbcType=DOUBLE},
      amount_payable = #{amountPayable,jdbcType=DOUBLE},
      amount_actually_paid = #{amountActuallyPaid,jdbcType=INTEGER},
      payment_account = #{paymentAccount,jdbcType=VARCHAR},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      invoice = #{invoice,jdbcType=VARCHAR},
      freight_unit = #{freightUnit,jdbcType=VARCHAR},
      freight_number = #{freightNumber,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>